/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
Montserrat uses 300 and 400 weight
*/

* {
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat;
}

body {
  background-color: #2B2733;
  background-size: cover;
}

main {
  display: flex;
}

header {
  background-color: #46424D;
  text-align: center;
  padding: 10px;
}

h1 {
  text-align: center;
  font-weight: 400;
  color: #FFF;
}

h2 {
  color: #CBC9CF;
  font-family: Montserrat;
  font-weight: 300;
}

.left-section {
  padding: 20px;
  flex: 2;
  align-content: center;
}

.right-section {
  padding: 20px;
  flex: 1;
  border-left: 2px solid #46424D;
  color: #CBC9CF;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.activity-form {
  display: flex;
  background-color: #46424D;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #26222d;
  min-height: 500px;
}

.input-form {
  align-self: flex-end;
}


.hidden {
  display: none;
}

.hidden-right-section {
  display: none;
}
