* {
  font-family: "Montserrat", sans-serif;
  background-color: #2B2733;
  color: #CBC9CF;
  font-weight: 300;
  margin: 0px;
}

header {
  background-color: #46424D;
  font-size: 26px;
  height: 75px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 65% 35%;
}

.left-section {
  height: 100vh;
}

.right-section {
  border-left: 3px solid #46424D;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.activity-form,
.timer-display {
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin: 10px 30px 20px 30px;
  border-radius: 10px;
  border-style: solid #46424D;
  box-shadow: 8px 8px #26222D;
  height: 500px;
}

.new-activity {
  padding: 35px 0 0 30px;
  font-weight: 300;
  font-size: 26px;
}

.new-activity-section {
  display: flex;
  justify-content: center;
}

.selection-header {
  padding-bottom: 20px;
  margin-left: 45px;
  background-color: #46424D;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
}

.button-row {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  background-color: inherit;
}

.button-row input {
  opacity: 0;
  position: fixed;
  width: 0;
}

.button-row label {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.btnimg {
  height: 25px;
  background-color: transparent;
}

input[value="Study"]:checked+label {
  border: 2px solid #B3FD78;
  color: #B3FD78
}

input[value="Meditate"]:checked+label {
  border: 2px solid #C278FD;
  color: #C278FD
}

input[value="Exercise"]:checked+label {
  border: 2px solid #FD8078;
  color: #FD8078
}

.action-button {
  margin: 20px 45px 20px 0;
  width: 28%;
  padding: 10px;
  background-color: #FFF;
  font-size: 1.3vw;
  font-weight: 400;
  color: #46424D;
  border-radius: 5px;
  border: none;
}

.log-activity-button {
  margin: 0;
}

.start-button {
  background-color: #46424D;
  height: 220px;
  width: 220px;
  border: 4px solid #FFF;
  border-radius: 50%;
  font-size: 29px;
  color: #FFF;
  margin: 22px 0 32px 0;
  outline: none;
}

.circle-outline-Study {
  border: 4px solid #B3FD78;
}

.circle-outline-Meditate {
  border: 4px solid #C278FD;
}

.circle-outline-Exercise {
  border: 4px solid #FD8078;
}

.create-new-button {
  width: 288px;
  margin-bottom: 480px;
  margin-left: 225px;
}

.input-label{
  background-color: #46424D;
  margin: 20px 0 30px 45px;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
}

.time-input {
  background-color: #46424D;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0 0 0px;
}

.input-form {
  background-color: #46424D;
  margin-left: 45px;
  margin-right: 45px;
  border: none;
  border-bottom: 3px solid white;
  height: 32px;
}

.error-message {
 background-color: #46424D;
 font-size: 16px;
 font-weight: 400;
 color: #EFB7EC
}

.error-image {
  background-color: #46424D;
  height: 15px;
  margin-right: 10px;
  margin-left: 45px;
}

.time-inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #46424D;
  grid-template-rows: 50% 50%;
}

.start-activity {
  display: flex;
  justify-content: flex-end;
  background-color: #46424D;
}

.timer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-title {
  background-color: #46424D;
  color: #fff;
  font-weight: 300;
  font-size: 22px;
}

.countdown {
  background-color: #46424D;
  color: #fff;
  font-weight: 400;
  font-size: 80px;
}

.timer {
  display: flex;
}

.top-text {
  text-align: center;
  margin-top: 40px;
  font-size: 14pt;
}

.bottom-text {
  text-align: center;
  font-size: 14pt;
}

.past-activities {
  width: 92%;
  margin-top: 45px;
  margin-bottom: 15px;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  background-color: #46424D;
  height: 10%;
  width: 90%;
  border-radius: 10px;
}

.activity-details {
  padding: 16px;
  background-color: #46424D;
  border-radius: 10px;
  width: 100%;
}

.activity-details > p {
  background-color: #46424D;
  padding-top: 8px;
}

.activity-card-styles {
  background-color: #46424D;
  width: 99%;
}

.study-card-styles {
  border-right: 3px solid #B3FD78;
}

.meditate-card-styles {
  border-right: 3px solid #C278FD;
}

.exercise-card-styles {
  border-right: 3px solid #FD8078;
}

.activity-card-styles > h4 {
  font-weight: 400;
  font-size: 19px;
  background-color: #46424D;
}

.activity-card-styles > p {
  background-color: #46424D;
  font-size: 19px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  border-radius: 5%;
  margin: 15px;
}

.card-flexbox {
  display: flex;
}

.log-activity-card {
  border-radius: 5px;
  height: 62px;
  width: 93%;
  margin: 0px 12px;
  margin-bottom: 2%;
  padding: 1%;
  padding-top: 2%;
  text-align: left;
}

.selected-type {
  font-weight: 400;
  background-color: #46424D;
}

.selected-time{
  background-color: #46424D;
}

.selected-activity {
  background-color: #46424D;
}

 .card-line {
  align-self: flex-end;
  align-items: stretch;
}

/* .selected-activity {
  margin-top: 10px;
} */

aside {
  width: 95%;
}


.hidden {
  display: none;
}
