* {
  font-family: "Montserrat", sans-serif;
  background-color: #2B2733;
  color: #CBC9CF;
  font-weight: 300;
  margin: 0px;
}

header {
  background-color: #46424D;
  font-size: 26px;
  height: 75px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 65% 35%;
}

.left-section {
  border-right: 3px solid #46424D;
  height: 1000px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timer-display {
  background-color: red;
}

.new-activity {
  padding: 35px 0 0 30px;
  font-weight: 300;
  font-size: 26px;
}

.activity-form {
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 64px;
  margin: 10px 30px 20px 30px;
  border-radius: 10px;
  border-style: solid #46424D;
  box-shadow: 8px 8px #26222D;
}

.new-activity-section {
  display: flex;
  justify-content: center;
}

.selection-header {
  padding: 9px 0 0 0;
  margin-left: 45px;
  background-color: #46424D;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
}

.button-image  {
  background-color: #46424D;
  height: 33%;
  width: 45%;
}

.button {
  background-color: #46424D;
  height: 80px;
  width: 175px;
  padding: 0;
  border: 5px;
  border-width: medium;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  margin: 15px 25px 40px 25px;
  font-size: 21px;
  font-weight: 400;
  outline: none;
}

.study-button {
  background-image: url("./assets/study.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 20%;
  padding-top: 32px;
}

.study-button-active {
  border-color: #B3FD78;
  color: #B3FD78;
  background-image: url("./assets/study-active.svg")
}

.meditate-button {
  background-image: url("./assets/meditate.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 20%;
  padding-top: 14px;
}

.meditate-button-active {
  border-color: #C278FD;
  color: #C278FD;
  background-image: url("./assets/meditate-active.svg")
}

.exercise-button {
  background-image: url("./assets/exercise.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 20%;
  padding-top: 14px;
}

.exercise-button-active {
  border-color: #FD8078;
  color: #FD8078;
  background-image: url("./assets/exercise-active.svg")
}

.button-row {
  display: flex;
  justify-content: space-around;
  background-color: inherit;
}

.action-button {
  margin: 20px 45px 20px 0;
  width: 28%;
  padding: 10px;
  background-color: #ffffff;
  font-size: 1.3vw;
  font-weight: 400;
  color: #46424D;
  border-radius: 5px;
  border: none;
}

.log-activity-button {
  margin: 0;
}

.start-button {
  background-color: #46424D;
  height: 160px;
  width: 160px;
  border: 4px solid #fff;
  border-radius: 50%;
  font-size: 29px;
  color: #FFF;
  margin: 22px 0 32px 0;
  outline: none;
}

.start-study-button {
  border-color: #B3FD78;
}

.start-meditate-button {
  border-color: #C278FD;
}

.start-exercise-button {
  border-color: #FD8078;
}

.create-new-button {
  width: 288px;
  margin-bottom: 480px;
  margin-left: 225px;
}

.input-label{
  background-color: #46424D;
  margin: 20px 0 30px 45px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
}

.time-input {
  background-color: #46424D;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0 0 0px;
}

.input-form {
  background-color: #46424D;
  margin-left: 45px;
  margin-right: 45px;
  border: none;
  border-bottom: 3px solid white;
  height: 32px;
}

.error-message {
 background-color: #46424D;
 font-size: 16px;
 font-weight: 400;
 color: #EFB7EC
}

.error-image {
  background-color: #46424D;
  height: 15px;
  margin-right: 10px;
  margin-left: 45px;
}

.time-inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #46424D;
  grid-template-rows: 50% 50%;
}

.start-activity {
  display: flex;
  justify-content: flex-end;
  background-color: #46424D;
}

.timer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-title {
  background-color: #46424D;
  color: #fff;
  font-weight: 300;
  font-size: 29px;
}

.countdown {
  background-color: #46424D;
  color: #fff;
  font-weight: 400;
  font-size: 80px;
}

.timer {
  display: flex;
}


.top-text {
  margin-top: 40px;
  font-size: 14pt;
}

.bottom-text {
  text-align: center;
  font-size: 14pt;
}

.past-activities {
  margin-right: 315px;
  margin-top: 20px;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  background-color: #46424D;
  height: 10%;
  width: 90%;
  border-radius: 10px;
}

.activity-details {
  padding: 16px;
  background-color: #46424D;
  border-radius: 10px;
  width: 100%;
}

.activity-details > p {
  background-color: #46424D;
  padding-top: 8px;
}

.activity-card-styles {
  background-color: #46424D;
  width: 99%;
}

.study-card-styles {
  border-right: 3px solid #B3FD78;
}

.meditate-card-styles {
  border-right: 3px solid #C278FD;
}

.exercise-card-styles {
  border-right: 3px solid #FD8078;
}

.activity-card-styles > h4 {
  font-weight: 400;
  font-size: 19px;
  background-color: #46424D;
}

.activity-card-styles > p {
  background-color: #46424D;
  font-size: 19px;
}








.hidden {
  display: none;
}
